<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Masinele</title>
</head>

<style>
table ,td, tr {
width: 30%;
}
body{
background-color: #d5d5d5;
}
tbody{
background-color: #555555;
}
</style>

<body>
  <img src="http://192.168.1.155:8081/" style="width:100%; max-width: 640px; max-height:480px; border-radius:10px"></img>


  <table style="width: 100%; max-width: 640px; height: 300px;">
    
      <tr>
	<td> <form action="/1" method="POST"> <input type="image" name="direction" src="/static/images/frontleft.png" value="frontleft" style="margin-center; width:100%;"></br></form></td>
	<td> <form action="/2" method="POST"> <input type="image" name="direction" src="/static/images/front.png" value="front" style="margin-center; width:100%;"></br></form></td>
	<td> <form action="/3" method="POST"> <input type="image" name="direction" src="/static/images/frontright.png" value="frontright" style="margin-center; width:100%;"></br></form></td>
      </tr>
      
      <tr>
        <td> <form action="/4" method="POST"> <input type="image" name="direction" src="/static/images/left.png" value="left" style="margin-center; width:100%;"></br></form></td>
	<td> <form action="/5" method="POST"> <input type="image" name="direction" src="/static/images/stop.png" value="stop" style="margin-center; width:100%;"></br></form></td>
        <td> <form action="/6" method="POST"> <input type="image" name="direction" src="/static/images/right.png" value="right" style="margin-center; width:100%;"></br></form></td>
      </tr>
      
      <tr>
	<td> <form action="/7" method="POST"> <input type="image" name="direction" src="/static/images/backleft.png" value="forward" style="margin-center; width:100%;"></br></form></td>
	<td> <form action="/8" method="POST"> <input type="image" name="direction" src="/static/images/back.png" value="back" style="margin-center; width:100%;"></br></form></td>
	<td> <form action="/9" method="POST"> <input type="image" name="direction" src="/static/images/backright.png" value="backright" style="margin-center; width:100%;"></br></form></td>
      </tr>
      
  </table>
</tbody>
  	
		
</body>
</html>
